<!DOCTYPE html>
{{ $dataTheme := "" }}
{{ if eq site.Params.style "dark-without-switcher" }}
    {{ $dataTheme = "dark" }}
{{ end }}
<html lang="{{ .Site.LanguageCode }}" data-theme="{{ $dataTheme }}">
<head>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RGGMN6LZ5F"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RGGMN6LZ5F');
    </script>

    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
    {{ template "_internal/google_analytics.html" . }}
</head>
<body> 
    <a class="skip-main" href="#main">{{ i18n "skipToContent" }}</a>
    <div class="container">
        <header class="common-header"> 
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}
        </header>
        <main id="main" tabindex="-1"> 
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>
</body>
</html>
